<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Хочешь Банан?</title>
</head>
<body>
    <div>
        <h1>Привет!</h1>
        <h2 style="color:blue">Загляни на наш сайт <a href="http://localhost:8000/post/posts/">Социальная сеть студента Makers</a> У нас Новый пост! Не пропусти!</h2>
        <img src="https://s.yimg.com/uu/api/res/1.2/gDBqCUJ1440D8fF43uRJJA--~B/Zmk9c3RyaW07aD00MjA7cT04MDt3PTgwMDthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2021-05/f9232cd0-b818-11eb-bf7d-078244545896" alt="Ошибка">
        <h2>{{ name }}</h2>
    </div>
</body>
</html>